/* -- GLOBAL -- */
body {
  height: 100svh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

img {
  max-width: 100%;
}
/* -- Body-- */
.body{
  display: grid;
  grid-template-areas: 
  "header header header"
  "aside main main"
  "aside footer  footer";

}
/* -- HEADER -- */
.header {
  grid-area: header;
  padding: 0 8px;
  border-bottom: 1px solid #bb010bff;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  width: 40px;
}

.navList {
  list-style-type: none;
  padding-inline-start: 0;
  gap: 16px;
}

.navLink {
  color: black;
}

/* -- MAIN -- */
.main{
  grid-area: main;
  "header header"
  "main main"


}

section{
  height: 100vh;
}

.projects{
  display: grid;
  /*grid-template-columns: 100px 150px 200px ;*/
  /*grid-template-columns:repeat(3,200px);*/
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:;
  grid-template-areas: "pcard1 pcard2 pcard3";
}
.pcard1{
  grid-area: pcard1;
}

.pcard2{
  grid-area: pcard2;
}

.pcard3{
  grid-area: pcard3;
}


/* -- FOOTER -- */
.footer {
  grid-area: footer;
  border-top: 1px solid black;
}

/* -- MEDIA -- */
@media (max-width: 769px) {
  .projects{grid-template-columns: repeat(2,1fr);}
}

@media (max-width: 426px) {
  .projects{grid-template-columns: repeat(1,1fr);}
}
