/* -- GLOBAL -- */
body {
  height: 100svh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

img {
  max-width: 100%;
}

/* -- HEADER -- */
.header {
  padding: 0 8px;
  border-bottom: 1px solid #bb010bff;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  width: 40px;
}

.navList {
  list-style-type: none;
  padding-inline-start: 0;
  gap: 16px;
}

.navLink {
  color: black;
}

/* -- MAIN -- */

/* -- FOOTER -- */
.footer {
  border-top: 1px solid black;
}

/* -- MEDIA -- */
@media (max-width: 769px) {
}
